
@model Dictionary<string,object>

@{
    Layout = "~/Views/Shared/_BlogLayout.cshtml";
    BlogTypes type = null;
    Blogs blog = null,blogNext=null,blogLast=null;
    List<BlogTags> tags = null;
    BlogUsers user = null,SessionUser=null;
    String blogName = String.Empty,SessionUserName=String.Empty;

    
        if(Model.Keys.Contains("blog"))
        {
            blog = ((Blogs)Model["blog"]);
        }
    
    if (blog != null) 
    { 
        ViewBag.Title = blog.Title;
        ViewBag.Keywords = blog.Title;
    
    

        var Description = blog.Content.Length >= 100 ? blog.Content.Substring(0, 100) : blog.Content;
        ViewBag.Description = Description;
        if (Model.Keys.Contains("blogConText") && Model["blogConText"] != null && !string.IsNullOrEmpty(Model["blogConText"].ToString()))
        {
            ViewBag.Description = Model["blogConText"];
        }
    }
   
    type = (BlogTypes)Model["blogType"];
    tags = (List<BlogTags>)Model["blogTags"];
    user = ((BlogUsers)Model[Constant.blogUser]);

    SessionUserName = string.Empty;
    SessionUser = (BlogUsers)Model[Constant.SessionUser];
    blogNext = (Blogs)Model["blogNext"];
    blogLast = (Blogs)Model["blogLast"];

    blogName = user.UserName;
    
    if (null != SessionUser)
    {
        SessionUserName = string.IsNullOrEmpty(SessionUser.UserNickname) ? SessionUser.UserName : SessionUser.UserNickname;
    }
    
    
}
<!--用户博客-->
<!--Uediter的配置
<script src="~/Plug/ueditor/third-party/SyntaxHighlighter/shCore.js"></script>
<link href="~/Plug/ueditor/third-party/SyntaxHighlighter/shCoreDefault.css" rel="stylesheet" />
<script type="text/javascript">
    $(function () {
        SyntaxHighlighter.highlight();
    });
</script>
   -->
    @*处理百度编辑器 table显示问题*@
<style type="text/css">
    body > div.blog_body.clearfix > div.blog_body_8 > div > div.div_BlogContent > table > tbody > tr.ue-table-interlace-color-single.firstRow > th {
        padding: 5px;
        background-color: #0094ff;
        border: 1px dashed #e4dddd;
    }

    body > div.blog_body.clearfix > div.blog_body_8 > div > div.div_BlogContent > table > tbody > tr > td {
        padding: 5px;
        border: 1px dashed #e4dddd;
    }

    body > div.blog_body.clearfix > div.blog_body_8 > div > div.div_BlogContent > table {
        border-collapse: collapse;
    }

        body > div.blog_body.clearfix > div.blog_body_8 > div > div.div_BlogContent > table > tbody > tr:nth-child(odd) {
            background-color: #e8edf1;
        }
</style>



<div class="div_title">
    <h1 class="blog_title">
        @*文章标题*@
        <a href="" class="a_title"> @(blog.Title)</a>
    </h1>
</div>
@*文章标题下的分类和标签区域*@
<div class="div_typeandtag">
    @*当前文章所属分类列表*@
    <div class="div_typeList">
        <span class="span_typeList">
            @if (null != type )
            {
                <text>分类：</text>
            
                    <a class="a_type" href="~/@(blogName)/Type/@(type.BlogTypeId)/1.html">@type.TypeName</a>
                
            }
        </span>
        <span>
            @(blog.CreateTime)
        </span>
        <span>
            阅读(@( blog.BlogReadNum))
        </span>
        <span>评论(@(blog.BlogComments.Count()))</span>
        <span>
            @if (SessionUser == null)
            {
                <a class="" href="/Account/Login?href=/@(blog.BlogUsers.UserName)/@(blog.BlogId).html">编辑</a>
            }
            else if ((user.UserId == SessionUser.UserId || SessionUser.UserName == "admin"))//如果是当前用户或者admin管理员
            {
                <a class="" href="/ManageBlog/Release/@(blog.BlogId)">编辑</a>
            }else
            {
                <a class="" href="#" onclick="alertNoPower()">编辑</a>
            }
        </span>
    </div>
    @*当前文章所属标签列表*@
    <div class="div_tagList">
        @if (null != tags && tags.Count > 0)
        {
            foreach (var item in tags)
            {
                <a class="a_tag" href="~/@(blogName)/Tag/@(item.BlogTagId)/1.html">@item.BlogTagName</a>
            }
        }
    </div>
</div>
@*正文内容*@
<div class="div_BlogContent">
    @Html.Raw( blog.Content)
</div>

@if (null != blogLast)
{
    <div class="div_last">
        上一篇：
        <a href="~/@blogName/@(blogLast.BlogId).html">@blogLast.Title</a>
    </div>
}
@if (null != blogNext)
{
    <div class="div_next">
        下一篇：
        <a href="~/@blogName/@(blogNext.BlogId).html">@blogNext.Title</a>
    </div>
}
    

    <div class="allComment">

    @*评论列表*@
    <div class="LoadComment">

    </div>

    <div class="div_nextcomment">
        <a href="javascript:void()" onclick="loadComment()">加载评论...</a>
    </div>
        <div class="comment_title">发表评论</div>
    <a name="CommentUserName"></a>
    <div class="text_CommentUser">
        @if(SessionUser!=null)
        {if(String.IsNullOrEmpty( SessionUser.Portrait))
        {
            <img height="40" width="40" style="border-radius:30px" src="~/Images/default_120px.gif" />
        }
        else
        {
            <img height="40" width="40" style="border-radius:30px" src=@SessionUser.Portrait />
        }
        }
        用 户 名:<span style="margin-left:3px" class="sapn_sessionUserName">@(SessionUserName)</span>
       
        <span class="Cancellation_span" style="margin-left:5px;display:none">
            <a class="" href="javascript:;" onclick="CancellationLocation();">退出</a>
        </span>
    </div>
    <div class="notlogin"style="margin-top: 6px; margin-bottom: 6px; ">
 
            <span style="margin-bottom: 6px">
                您还未登录，请<a href="/Account/Login" target="_blank">登录</a>或<a href="/Account/Register" target="_blank">注册</a>
        </span>
    </div>
    <div class="CommentArea">
        <div class="div_comment_texttare">
            <textarea class="comment_content" name="comment_content"></textarea>
        </div>
        <div>
            <input type="button" class="butsub_messg" id="butsub_messg" onclick="ick_subMessg(this)" value="提交评论" />
            <span class="alertMess"></span>
        </div>
    </div>
</div>
<script type="text/javascript">
    function alertNoPower() { alert("抱歉！你没有权限编辑！");}
</script>


    <script type="text/javascript">

    var pageIndex = 0;
    var blogID;

    //页面加载完成时
    $(function () {
        var href = location.href;
        blogID = href.substring(href.lastIndexOf('/') + 1, href.lastIndexOf('.'));
        pageIndex++;
        var objJson = { "blogID": blogID, "pageIndex": pageIndex };
        $.post("/Comment/LoadComment", objJson, function (data) {
            $(".LoadComment").html(data);
            //是否定位到锚（是否直接评论）
            if (location.href.indexOf("#CommentUserName") > 0) {
                location.href = location.href;
                $(".div_comment_texttare .comment_content").focus();
            }
            var ii = 0;
            $(".spanLayer").each(function (obj) {
                ii++;
                $(this).html(ii);
            });

            if (ii >= 30) {
                $(".div_nextcomment").css("display", "").find("a").html("加载评论");
            }
            else {
                $(".div_nextcomment").css("display", "none");
            }
        });

   
        if ($(".sapn_sessionUserName").text()=="") {
            $(".text_CommentUser").hide();
            $(".Cancellation_span").hide();
        }else
        {
            $(".text_CommentUser").show();
            $(".Cancellation_span").show();
            $(".notlogin").hide();
        }
    });

  

    //（点击显示剩余评论）累加评论内容
    function loadComment() {
        pageIndex++;
        var objJson = { "blogID": blogID, "pageIndex": pageIndex };
        $.post("/Comment/LoadComment", objJson, function (data) {

            if ($(data).filter(".commentItem").length < 30) {
                $(".div_nextcomment").html("全部评论加载完成~");
            }

            $(".LoadComment").append(data);

            var ii = 0;
            $(".spanLayer").each(function (obj) {
                ii++;
                $(this).html(ii);
            });
        });
    }

    ///===========LoadComment.cshtml 的 js=============
    var mhref = location.href;
    var BlogId = mhref.substring(mhref.lastIndexOf("/") + 1, mhref.lastIndexOf(".html"));
    //点击提交评论
    function ick_subMessg(objBut) {
        var CommentID, ReplyUser;
        //如果是 累计回复
        if ($(objBut).hasClass("but_reply")) {
            CommentID = $(objBut).closest(".commentItem").find(".spanCommentID").html();
            ReplyUser = $(objBut).closest(".commentItem").find(".ReplyUser").html();
        }
        else {
            CommentID = "-1";
            ReplyUser = "-1";
        }
        //var UserId = 1;
        var alertMess = $(objBut).closest(".CommentArea").find(".alertMess");
        alertMess.html("");
        var Content = $(objBut).closest(".CommentArea").find(".comment_content");
        if (!Content.val()) {
            //alert("请输入内容再提交~");  //alertMess
            alertMess.html("请输入内容再提交~");
            return;
        }
        else if (Content.val().length >= 1000) {
            alertMess.html("您输入的内容过多~");
            return;
        }


        //提交评论（发表评论）
        var obj = { "BlogId": BlogId, "Content": Content.val(), "CommentID": CommentID, "ReplyUser": ReplyUser };
        $.post("/Comment/WriteContent", obj,
            function (mesg) {
                if (mesg.State == "0") {
                    // alert("请先登录<a>马上登录</a>");
                    if (confirm("您还未登录，是否马上登录")) {
                        location.href = "/Account/Login?href=" + location.href;
                    }
                    return;
                }
                else if (ShowAjaxResult(mesg)) {
                    if (mesg.State == "1") {
                        var str = "<div class='New_commentItem'><span class='span_comOk'>发表成功：</span>" + Content.val() + "</div>";
                        //$(objBut).parents(".text_CommentUser").prev().after(str);
                        var ro = $(objBut).closest(".commentItem");
                        if (ro.length) {
                            ro.append(str);
                        }
                        else {
                            $(".text_CommentUser").prev().after(str);
                        }
                        Content.val("");
                        $(objBut).closest(".allComment").find(".acti_reply").removeClass("acti_reply").addClass("reply");
                        //$("#Content").val("");
                    }
                }
                else {
                    alertMess.html("评论失败~");
                }
                //alert("发表成功~");
            }, "json");
    }

    //累计楼 评论（点击回复超链接）
    function ClickReply(obj) {
        //$(obj).parents(".allComment").find(".acti_reply").removeClass("acti_reply").addClass("reply");  // .nextAll(".reply").removeClass("reply").addClass("acti_reply");
        var comment = $(obj).nextAll(".reply").removeClass("reply").addClass("acti_reply").find(".comment_content");
        comment.focus();//获得焦点

        comment.blur(function () {
            comment.closest(".CommentArea").removeClass("acti_reply").addClass("reply");
        });
        comment.closest(".CommentArea").find(".but_reply").hover(function () {
            comment.unbind("blur");
        }, function () {
            comment.blur(function () {
                comment.closest(".CommentArea").removeClass("acti_reply").addClass("reply");
            });
        });
    }
    //=================================
</script>